div.createCrawlerFrameHeaderPanel {
    background-color: #fafafa;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin: 3px;
}

li.createCrawlerFrameBodyButtonsContainer {
    text-align: right;
    padding: 5px;
}

li.createCrawlerFrameBodyCodeContainer {
    text-align: left;
    padding: 0px;
}

button.marginRight {
    margin-right: 7px;
}
