span.emptyResultMessage {
    color: #999999;
}

:global {
    .hiddenWithAnimation {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 1s linear;
    }
}

.link, .link:hover,.link:visited {
    color: #00acc1;
}

span.clickableSpan {
    color: #444477;
    display: inline-block;
}

span.clickableSpan:hover {
    border-radius: 4px;
    background-color: #B2EBF2;
    cursor: pointer; cursor: hand;
}

span.clickableSpan:active {
    border-radius: 4px;
    background-color: #80DEEA;
    cursor: pointer; cursor: hand;
}