.link, .link:hover,.link:visited {
    color: #00acc1;
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.dropboxActionsContainer {
    display: flex;
    justify-content: space-between;
}

.dropboxErrorMessage {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: red;
}